*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/jniLibs/armeabi-v7a/libMyOpencvLibs.so
openCVLibrary320/build
openCVLibrary320/openCVLibrary320.iml
gradle.properties
gradle
